body {
  font-family: Arial, sans-serif;
  background-color:lightgray;
  margin: 0;
  padding: 0;
}
input,select{
  block-size: 50px;
}


h1 {
  text-align: center;
  color: #333;
  padding:20px;
  margin-left:230px;
  margin-right:230px;
  border-radius:20px;
  background-color: lightblue;
}

.converter {
  max-width: 700px;
  max-height:700px;
  margin: 0 auto;
  background-color: lightcyan;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
